:root {
  --Dark-main: #1b212f;
  --Dark-email: #1b212f;
  --footer: #0c1524;
  --black-main: #191f2b;
  --testimonial: #202a3c;
  --ligth-blue: ;
}

:root {
  --main-color: #65e2d9;
  --medium-blue: #339ecc;
  --ligth-red: #ff4242;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  font-family: "Raleway";
  padding: 0;
}
body {
  font-family: Open, Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: var(--Dark-main);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1300px;
  align-items: center;
  margin: 0 auto;

  padding: 20px;
}
.header-content nav {
  display: flex;
  max-width: 1300px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header-content ul {
  display: flex;
  justify-content: space-between;
}
.header-content a {
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  margin: 20px 20px;
  font-weight: 400;
}
.header-div {
  padding-top: 10px;
}
.header-div img {
  width: 100px;
}
.sessao-1 {
  display: flex;
  max-width: 960px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  z-index: 999;
  justify-content: center;
}

.sessao-1-div-textos {
  display: flex;
  max-width: 720px;

  flex: 2 1 300px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  z-index: 999;
}
.sessao-1-div-textos h1 {
  font-size: 40px;
}
@media (max-width: 579px) {
  .sessao-1-div-textos h1 {
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
    font-size: 40px;
  }
}
.paragrafos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  font-size: 1.25em;
}
.primeiro-p {
  display: flex;
  flex-direction: row;

  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  font-size: 1.25em;
}

@media (max-width: 569px) {
  .primeiro-p {
    display: flex;
    flex-direction: column;

    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    font-size: 1.25em;
  }
}
.sessao-1-div-textos p {
  font-size: 18px;
  line-height: 30px;
}
.sessao-1-div-textos button {
  flex-wrap: wrap;
  padding: 15px 80px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 3px 0px #000;
  color: #fff;
  background-color: var(--medium-blue);
  background-image: linear-gradient(
    to left,
    var(--medium-blue),
    var(--main-color)
  );
}
.sessao-1-div-textos:hover button {
  background-color: var(--main-color);
}
.sessao-2 {
  /* display: flex; */
  flex-wrap: wrap;

  margin: 190px auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  gap: 80px;
  z-index: 999;

  background-color: var(--black-main);
}
.curva-image {
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  gap: 80px;
  max-width: 960px;
  z-index: 999;

  margin-top: -130px;
}
.curva-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.curva-items img {
  /* padding: 20px; */
}
@media (max-width: 569px) {
  .curva-items img {
    padding-top: 50px;
  }
}
.imagem-coluna2 {
  width: 100%;
}
.curva-items h2 {
  line-height: 30px;
}
.curva-items p {
  display: flex;

  margin-top: 10px;
  line-height: 15px;
}
.imagem-coluna2 {
  /* flex: 1 2 300px; */
  margin-top: -30%;
}
.sessao-3 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 80px;
  justify-content: center;
  gap: 30px;
  margin-top: -190px;
  background-color: var(--black-main);

  align-items: center;
}
.imagen-produtivo {
  padding-bottom: 40px;
}
.sessao-3 h1 {
  font-size: 40px;
  line-height: 32px;
}
.nav-sessao3 {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 100px;
  justify-content: space-between;
  gap: 12px;

  align-items: flex-start;
}
@media (max-width: 579px) {
  .imagen-produtivo {
    padding-right: 70px;
  }
}

.paragrafo1 {
  margin-top: 10px;
}
.arrow {
  display: flex;
  flex-direction: column;

  cursor: pointer;
}
.arrow-content {
  display: flex;
  flex-direction: row;

  cursor: pointer;
  gap: 8px;
}
.arrow hr {
  width: 100%;
  height: 1px;
  color: white;
  background-color: white;
  border: 1px white;
}
.arrow a {
  color: white;
}
.arrow:hover hr {
  width: 100%;
  height: 1px;
  color: #70e3de;
  background-color: #70e3de;
  border: 1px #70e3de;
}
.arrow:hover a {
  color: #70e3de;
}
.arrow img {
  display: flex;
  width: 20px;
  gap: 8px;
  color: white;
}
.pai-sessao-4 {
  background-color: var(--black-main);
  padding-top: 150px;
}
@media (max-width: 597px) {
  .sessao-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 20px;
    margin-top: -10px;
    background-color: var(--black-main);
    align-items: center;

    z-index: 999;
  }
}
.divsessao4 {
  margin-bottom: 50px;

  max-width: 1140px;
  margin: 0 auto;
}
.aspas-image {
}
.sessao-4 {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 20px;
  margin-top: -10px;
  background-color: var(--black-main);
  align-items: center;

  z-index: 999;
}

.card1 {
  z-index: 999;
  background-color: #21293c;
  padding: 25px 50px;
  border-radius: 2px;

  align-items: center;
  flex-wrap: wrap;

  box-shadow: 0px 0px 0.9px 0px #000;
}
.card1 p {
  font-size: 13px;
  line-height: 20px;
}

.card-foto {
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  align-items: center;
}
.card-foto h3 {
  font-size: 14px;
}
.card-foto p {
  font-size: 12px;
  line-height: 5px;
}
.person {
  border-radius: 100px;
  height: 40px;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 5px;
  padding-left: 10px;
  padding-bottom: 11px;
}
.sessao-5 {
  background-color: #171e2a;
  padding: 100px;
}
.div-sessao5 h1 {
  margin-top: 0px;
  padding: 15px;
}

.div-sessao5 p {
  line-height: 25px;
}
.div-sessao5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--Dark-email);

  max-width: 800px;
  height: 240px;
  border-radius: 3px;
  padding: 20px 0px;
  font-size: 14px;
  margin-top: 50px;
  box-shadow: 0px 0px 1px 0px #000;
  margin: 0 auto;
  margin-top: -230px;
}

.sessao-input {
  margin-top: 20px;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;

  width: 78%;
}
.sessao-input input {
  width: 400px;
  height: 45px;
  border-radius: 25px;
  padding-left: 20px;
  border: none;
  margin: auto;
}
.sessao-input button {
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 14px;
  width: 205px;
  cursor: pointer;

  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 3px 0px #000;
  color: #fff;
  background-color: var(--medium-blue);
  background-image: linear-gradient(
    to left,
    var(--medium-blue),
    var(--main-color)
  );
}
@media (max-width: 579px) {
  .div-sessao5 {
    display: flex;
    flex-direction: column;
    width: 10px;
    background-color: #ff4242;
  }
  .sessao-input {
    display: flex;
    flex-direction: column;
    background-color: #762626;
    width: 10px;
  }
  .sessao-input input {
    display: flex;
    flex-direction: column;
    background-color: #614949;
    width: 10px;
  }
  .sessao-input button {
    display: flex;
    flex-direction: column;
    background-color: #c9c5c5;
    width: 10px;
  }
}
footer {
  background-color: var(--footer);
  padding: 100px 100px;
  flex-wrap: wrap;
  align-items: center;
}
.div-fylo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;

  margin-top: 30px;
}
.fylo-footer {
  width: 100px;
}
.localizacao {
  display: flex;
}
.localizacao img {
  width: 13px;
  height: 20px;
  padding-top: 3px;
}
.footerp1 {
  display: flex;
  flex-direction: column;
  padding-left: 15px;

  line-height: 20px;
}
.footer-div-dois {
  display: flex;

  flex-direction: column;
}
.numero {
  padding-left: 10px;
}
.footer-div-dois2 {
  display: flex;
  padding: 6px;
}
.footer-div-dois3 {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
.footer-div-dois4 {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.footer-div-dois5 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
